/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*******************************************************************************
 *                                                                             *
 * Pane color                                                                  *
 *                                                                             *
 ******************************************************************************/

.lateralpanel{
	-fx-background-color: #009688;
	
	
	
}
/*******************************************************************************
 *                                                                             *
 * Label Name                                                                  *
 *                                                                             *
 ******************************************************************************/
.labelName{
	-fx-text-fill: #009688;
	-fx-font-weight: bold;
	-fx-font-size:15;
	
}
/*******************************************************************************
 *                                                                             *
 * Formulario Buttons                                                          *
 *                                                                             *
 ******************************************************************************/
.okbutton{
	-fx-background-radius: 0 0 0 0; 
	-fx-padding: 0 0 0 0;
	-fx-background-color: #E64A19; 
}

